.title {
  font-size: 24px;
  color: chartreuse;
  margin-bottom: 8px;
}

.container-task-details {
  background-color: #444;
}

.task-details-container {
  background: #444;
	margin: 15px 0;
	padding: 0 20px 20px 20px;
	display: flex;
	flex-direction: column;
	color: #eee;
	border-radius: 5px;
}